*~
.*

# Build output directies
target

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

*.class
*.log

#idea
*.iml
*.ipr
*.iws

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
test-output
